<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="Name.cshtml">
        <table>
            <tr><td>Name</td><td><input type="text" name="name"/></td></tr>
            <tr><td>Send</td><td><input type="submit"/></td></tr>
        </table>
    </form>
</body>
</html>
