<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Rules_REDIRECT.cshtml" method="post">
        <table>
            <tr><td>Nowa reguła</td><td><input type="text" name="new_rule"/></td></tr>
            <tr><td></td><td><input type="submit"/></td></tr>
        </table>
    </form>
</body>
</html>
